{% extends 'base.html.twig' %}

{% block body %}
    <div class=" flex flex-row justify-center">
        {{ form_start(formUser) }}
            <div class="flex flex-col">
                <div class="flex flex-row">
                    <div class="flex flex-col">
                        {{form_label(formUser.name)}}
                        {{form_widget(formUser.name)}}
                        {{form_label(formUser.firstname)}}
                        {{form_widget(formUser.firstname)}}
                        {{form_label(formUser.email)}}
                        {{form_widget(formUser.email)}}
                        {{form_label(formUser.password)}}
                        {{form_widget(formUser.password)}}
                    </div>
                </div>
                <div class="flex flex-row justify-center">
                    <button class="btn btn-primary hover:text-white" type="submit">Enregistrer</button>
                </div>
            </div>
        {{ form_end(formUser) }}
    </div>
{% endblock %}