{% extends 'base.html.twig' %}
{% block body %}

<main class="grid grid-cols-5 mt-4 content-start">
    {% for article in articles %}
        <div class="bg-slate-500 opacity-75 border-slate-900 rounded-sm mb-3 w-80 mx-auto px-8">
            <div class="flex flex-row, justify-center">
                <h1 class="text-4xl text-white">{{ article.title }}</h1>
            </div>
            <div class="flex flex-row, justify-center">
                <h1 class=" text-xl text-white">{{ article.description }}</h1>
            </div>
            <div class="flex flex-row, justify-center">
                <h1 class=" text-xl text-white">{{ article.content }}</h1>
            </div>
            <div class="flex flex-row, justify-center">
                <h1 class=" text-lg text-white">Quantity : {{ article.quantity }}</h1>
            </div>
            <div class="flex flex-row, justify-center">
                <h1 class=" text-lg text-white">Price : {{ article.price }}</h1>
            </div>
            <div class="flex flex-row, justify-center">
                <h1 class=" text-lg text-white">Category : {{ article.category }}</h1>
            </div>
            <div class="flex flex-row, justify-center">
                <h1 class=" text-lg text-white">Create at : {{ article.CreatedAt|date('d/m/Y H:i:s') }}</h1>
            </div>
            {% if article.modifiedAt is defined and article.modifiedAt is not null %}
                <div class="flex flex-row, justify-center">
                    <h1 class=" text-lg text-white">Update at : {{article.modifiedAt|date('d/m/Y H:i:s')}} </h1>
                </div>
            {% endif %}
            
            <div class="flex flex-row, justify-center">
                <a class=" hover:text-white" href="{{ path('app_article_edit', {'id': article.id}) }}" class="btn btn-primary">Edit</a>
            </div>
            <div class="flex flex-row, justify-center">
                <a class=" hover:text-white" href="{{ path('app_article_delete', {'id': article.id}) }}" class="btn btn-primary">Delete</a>
            </div>
        </div>
    {% endfor %}
</main>
{% endblock %}